// This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.

.approvalButtons {
  margin-top: 1em;
}
  
.applicant {
  width: 75%;
  margin-left: 10%;
  .rs-panel {
    background-color: #e7e7e7
  }
}

.approvalButtons {
  button {
    margin-right: 1em;
  }
}